@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Afacad Flux", sans-serif;
}

.sec1{
    width: 100%;
    height: auto;
}

.nab{
    font-size: xx-large;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    margin-top:10px;
    margin-bottom:25px;
}
.nab button{
    font-size: large;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.sec1 .cont{
    margin-top: 10px;
    width: 100%;
    height: 90vh;
    background: url(img/Hero-bg.png);
    background-repeat: no-repeat ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


.cont .artile{
    font-size: larger;
    margin: 0px 200px;
}
.cont .btn a{
    padding: 10px 20px;
    text-decoration: none;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-size: larger;
    cursor: pointer;
}



